.navbar {
  background-color: black;
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2.6rem;
  display: flex;
}

.navbar .active {
  width: 100%;
  color: white;
  text-decoration: none;
}

.search-container {
  float: right;
  padding-right: 3%;
}

.search-container input {
  float: left;
  width: 78%;
}

.search-container #btn-go {
  float: right;
}

.dv-heading {
  background-color: black;
  float: left;
  width: 88%;
  height: 100%;
}

@media(max-width: 824px) {
  #btn-go {
    width: 100%;
    cursor: pointer;
    background-color: lightblue;
  }

  .search-container input {
    width: 100%;
    max-width: 164px;
  }
}

@media(max-width: 600px) {
  .search-container input {
    max-width: 124px;
  }
}